<meta charset="utf-8" />
<title>엑스칼리버 | SK텔레콤</title>
<meta name="viewport" content="width=device-width, viewport-fit=cover, shrink-to-fit=yes">
<meta property="og:url" content="https://xcaliber.sktelecom.com/">

<meta name="application-name" content="엑스칼리버 | SK텔레콤">
<meta id="meta_og_title" property="og:title" content="엑스칼리버 | SK텔레콤">
<meta name="description" content="말 못하는 반려동물을 위한 AI 기반 동물 진단 서비스, 엑스칼리버(X Caliber). SK텔레콤의 AI 기술과 함께합니다.">
<meta property="og:description" content="말 못하는 반려동물을 위한 AI 기반 동물 진단 서비스, 엑스칼리버(X Caliber). SK텔레콤의 AI 기술과 함께합니다.">
<meta id="meta_og_image" property="og:image" content="https://xcaliber.sktelecom.com/images/site-image/ed007ce7d5d0f.png">
<meta property="og:image:width" content="720">
<meta property="og:image:height" content="627">
<meta name="keywords" content="SKT, SK텔레콤, 엑스칼리버, SKT 엑스칼리버, X caliber">
<link rel="canonical" href="https://xcaliber.sktelecom.com/">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://xcaliber.sktelecom.com/images/site-image/8f5dc4d5bca33.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://xcaliber.sktelecom.com/images/site-image/094c31546cb01.png">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://xcaliber.sktelecom.com/images/site-image/46e39da88bdac.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://xcaliber.sktelecom.com/images/site-image/99912960e1ecf.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://xcaliber.sktelecom.com/images/site-image/ef93e747c44c2.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://xcaliber.sktelecom.com/images/site-image/7b6b339971d8c.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://xcaliber.sktelecom.com/images/site-image/937a38c9041fc.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://xcaliber.sktelecom.com/images/site-image/f6a4c040aecb5.png">
<link rel="icon" type="image/png" href="https://xcaliber.sktelecom.com/images/site-image/7b7b8b88525ba.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://xcaliber.sktelecom.com/images/site-image/72ed784d833a5.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://xcaliber.sktelecom.com/images/site-image/174d95eb80fa3.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://xcaliber.sktelecom.com/images/site-image/e33df22bae3ea.png" sizes="128x128">
<link rel="icon" type="image/png" href="https://xcaliber.sktelecom.com/images/site-image/99f3d5ed0a0e2.png" sizes="196x196">
<meta name="msapplication-TileImage" content="https://xcaliber.sktelecom.com/images/site-image/937a38c9041fc.png">
<meta name="msapplication-square70x70logo" content="https://xcaliber.sktelecom.com/images/site-image/d88b610cc8a24.png">
<meta name="msapplication-square150x150logo" content="https://xcaliber.sktelecom.com/images/site-image/445b4c679d170.png">
<meta name="msapplication-square310x150logo" content="https://xcaliber.sktelecom.com/images/site-image/6b66cebd5c530.png">
<meta name="msapplication-square310x310logo" content="https://xcaliber.sktelecom.com/images/site-image/cc1b7466d79ff.png">
<meta property="og:type" content="website">
<meta name="”format-detection”" content="”telephone=no&quot;">