<%- contentFor('style') %> <%- contentFor('content') %>
<div id="map" style="width: 100%; height: 720px"></div>
<button onclick="getUserCurrentPosition()">GET CURRENT LOCATION</button>

<%- contentFor('script') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  let hospitals_data = [];
  let hospitalClicked = 628;

  window.onpageshow = async function (event) {
    if (event.persisted) {
    }
  };
  document.addEventListener("DOMContentLoaded", async function () {
    hospitals_data = await getHospitalList();
    console.log("hospitals_data", hospitals_data.length);
    var mapOptions = {
      center: new naver.maps.LatLng(37.3595704, 127.105399),
      zoom: 10,
    };

    var map = new naver.maps.Map("map", mapOptions);
    for (const hospital of hospitals_data) {
      console.log(hospital);
      var hospital_location = new naver.maps.LatLng(hospital.lat, hospital.lng);

      var marker = new naver.maps.Marker({
        position: hospital_location,
        map: map,

        icon: {
          content: `
          <div>  <img src="/assets/images/custom_marker.png" style=" display: block;">
            <p id="hospital-${hospital.id}" style="background-color: white; display: none; padding: 5px; border-radius: 10px;
            border: 1px solid black;
            ">${hospital.address}<p/></div> `,
          size: new naver.maps.Size(63, 81),
          origin: new naver.maps.Point(0, 0),
          anchor: new naver.maps.Point(31, 40),
        },
      });

      marker.addListener("click", function () {
        // find all element clicked => display none
        var elements = document.querySelectorAll('[id^="hospital"]');
        elements.forEach(function (element) {
          element.style.display = "none";
        });
        // display block for element current
        const hospitalElement = document.getElementById(
          `hospital-${hospital.id}`
        );
        hospitalElement.style.display = "block";
        hospitalClicked = hospital.address;
      });
    }
  });

  const getHospitalList = async () => {
    let callApi = `/api/home/getHospitalList`;
    const result = await axios
      .post(callApi, {})
      .then((response) => {
        return response.data.data;
      })
      .catch((error) => {
        return null;
      });
    return result;
  };

  function getUserCurrentPosition() {
    if (navigator.geolocation) {

        navigator.geolocation.getCurrentPosition(onSuccessGeolocation);
    }
}

function onSuccessGeolocation(position) {
  console.log(position)
  var mapOptions = {
      center: new naver.maps.LatLng(position.coords.latitude,position.coords.longitude),
      zoom: 10,
    };

    var map = new naver.maps.Map("map", mapOptions);
}
</script>
