<div data-simplebar class="sidebar-menu-scroll">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title" data-key="t-applications">MENU</li>
            <li class="not-expanded">
              <a href="javascript: void(0);">
                <i class="icon nav-icon" data-eva="message-circle-outline"></i>
                <span class="menu-item" data-key="galaxy">Xcaliber</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/xcaliber/admin/clinic" data-key="t-invoice-list">Clinic management</a>
                </li>
                <li>
                  <a href="/xcaliber/admin/faq" data-key="t-invoice-list">FAQ management</a>
                </li>
                <li>
                  <a href="/xcaliber/admin/notice" data-key="t-invoice-list">Notice management</a>
                </li>
              </ul>
            </li>
        
        </ul>
    </div>
    <!-- Sidebar -->

    <div class="p-3 px-4 sidebar-footer">
        <p class="mb-1 main-title">2024 &copy; </p>
    </div>
</div>
